* {
  margin: 0px;
  padding: 0px;
  border: none;
  text-decoration: none;
  outline: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 850px;
  width: 100%;
  background: linear-gradient(45deg, rgb(82, 82, 255), rgb(255, 222, 228));

  .pokedex {
    height: 60vh;
    background-color: rgb(29, 146, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
    height: 800px;
    border-radius: 10px;
    border: rgb(255, 189, 189) 8px outset;

    .typePokemon {
      width: 350px;
      height: 60px;
      border-radius: 4px;
      padding-left: 10px;
      font-size: 1.6em;
      margin: 20px;
    }

    .containerImage {
      height: 200px;
      width: 200px;
      border-radius: 50%;
      background-color: rgb(10, 65, 110);
      border: white 6px solid;
      display: flex;
      justify-content: center;
      align-items: center;

      .image {
        height: 200px;
        width: 200px;
        border: 0px;
        border-style: none;
        outline: none;
      }
    }

    .nombre {
      color: white;
      font-size: 3.3em;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
    }
  }
}
